.labels{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.good {
  background-color: green;
}

.error {
  background-color: red;
}

.caution {
  background-color: yellow;
}

.feature-name {
  background-color: green;
  color: white;
  margin: 5px;
  padding: 5px;
}